@import "styles/custom-media";

.wrapper {
  --header-padding-block: 25px;
  --header-padding-inline: 15px;
  --header-logo-height: 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--header-padding-block) var(--header-padding-inline);
  position: relative;
  margin-bottom: 33px;

  @media ($gte-small) {
    max-width: var(--header-gte-small-width);
    margin-left: auto;
    margin-right: auto;
  }

  @media ($gte-medium) {
    max-width: var(--header-gte-medium-max-width);
    margin-bottom: 26px;
  }

  @media ($gte-large) {
    max-width: var(--header-large-max-width);
  }
}

.toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 24px;
  width: 30px;
  position: relative;
  padding: 0;

  @media ($gte-medium) {
    display: none;
  }
}

.dash {
  background-color: var(--secondary);
  display: block;
  width: 100%;
  height: 2px;
  transition: background-color 0.1s ease-in-out;

  &::before,
  &::after {
    background-color: var(--secondary);
    content: "";
    height: 2px;
    width: inherit;
    display: inherit;
    position: absolute;
    transition: transform 0.2s ease-in-out;
  }

  &::before {
    top: 0;
    transform-origin: 0 0;
  }

  &::after {
    bottom: 0;
    transform-origin: 0 100%;
  }

  &.opened {
    background-color: var(--white);

    &::before {
      transform: scaleY(1.057) rotate(45deg);
    }

    &::after {
      transform: scaleY(1.057) rotate(-45deg);
    }
  }
}
