:root {
  --primary: #00a78e;
  --secondary: #293651;
  --white: #ffffff;
  --black: #000000;
  --black10: rgb(0 0 0 / 10%);
  --dark-blue: #646f87;
  --dark-blue11: rgb(100 111 135 / 11%);
  --white-gray: #f9f9f9;
  --gray30: rgb(196 196 196 / 30%);
}
